*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container
{
    padding: 3rem 0;
    border-radius: 20px;
    background-color: paleturquoise;
    max-width: 800px;
    margin: 0 auto;
    h1
    {
        text-align: center;
        color: #333;
    }
    .row
    {
        display: flex;
        justify-content: center;
        padding: 2rem;
        
        button
        {
            padding: 0.3em 3em;
            border-radius: 20px;
            border-style: none;
            background-color: lightgoldenrodyellow;
            color: #333;
        }

        input
        {
            border-style: none;
            border-radius: 5px;
            width: 490px;
            height: 25px;
        }
    }
}

.bg_page
{
    padding-top: 6rem;
    background-color: palegoldenrod;
    height: 100vh;
}